@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

/* CABEÇALHO */
.navbar {
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.116);
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 9999;
}

.logo img {
    width: 100px;
}

.nav_links {
    display: flex;
    list-style: none;
}

.nav_links ul {
    display: flex;
    list-style: none;
}

.nav_links ul li {
    padding: 10px;
}

.nav_links ul li a {
    text-decoration: none;
    color: #139bcd;
    font-size: 1.5em;
    font-weight: 500;
}

.nav_links ul li a:hover {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.171);
    transition: .3s ease-in-out;
}
/*CORPO*/
/*BANNER*/
.corpo,
.banner-principal {
    margin-top: 80px;
}

.banner-principal {
    background-image: url('../Images/Banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    gap: 20;
}

.banner-principal h1 {
    color: white;
    max-width: 600px;
    font-size: 3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.103);
    margin-left: 5%;
}

.banner-principal a {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
    text-decoration: none;
    background-color: #7ac1fc;
    margin-left: 5%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.075);
}

.banner-principal a:hover {
    background-color: #2b8bea;
    margin-left: 6%;
    transition: .5s ease-in-out;
}
/*SOBRE*/
.sobre {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20;
    text-align: center;
}

.sobre h2,
.projetos h2,
.historia p {
    max-width: 800px;
    font-weight: 700;
    font-size: 1.5em;
    padding: 10px;
}

.boxes-sobre,
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.box-img {
    width: 80px;
    margin-top: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2b8bea;
    border-radius: 12px;
    height: 250px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 5px #2b8bea2a;
    transition: transform 0.3s ease;
}

.box h3 {
    margin-top: 10px;
    font-weight: 600;
}

.box p {
    margin-top: 10px;
}

.sobre-empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.historia h3 {
    font-size: 2em;
    font-weight: 700;
}

span {
    font-style: italic;
}

/*SERVIÇOS*/
.section-servicos {
    padding: 80px 20px;
    background-color: #2b8bea;
    text-align: center;
   }
   .section-servicos h2 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 10px;
   }
   .section-servicos .descricao {
    font-size: 1.1em;
    margin-bottom: 50px;
    color: #ffffff;
   }
   .servicos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
   }
   .servico-box {
    background: white;
    border: 1px solid #2b8bea;
    box-shadow: 0 0 20px 5px #2b8bea23;
    border-radius: 12px;
    padding: 30px 20px;
    max-width: 300px;
    box-shadow: 0 0 20px 5px #2b8bea2a;
    transition: transform 0.3s ease;
   }
   .servico-box:hover,
   .box:hover {
    transform: translateY(-5px);
   }
   .servico-box i {
    font-size: 40px;
    color: #0077cc;
    margin-bottom: 20px;
   }
   .servico-box h3 {
    font-size: 1.3em;
    color: #0077cc;
    margin-bottom: 10px;
   }
   .servico-box p {
    font-size: 1em;
    color: #444;
   }
/*PROJETOS*/
.projetos {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .projetos .descricao {
    max-width: 600px;
    margin: 0 auto 40px;
    color: #444;
    font-size: 1.1em;
 }
 .portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
 }
 .box-projetos {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
 }
 .box-projetos:hover {
    transform: translateY(-5px);
 }
 .box-projetos img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
 }
 .box-projetos h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #003366;
 }
 .box-projetos p {
    font-size: 0.95em;
    color: #555;
    margin-bottom: 10px;
 }
 .box-projetos a,
 .box-projetos span {
    font-weight: bold;
    color: #0077cc;
    text-decoration: none;
 }









/* MENU MOBILE */
.menu_mobile {
    display: none;
}

#close, #burger {
    font-size: 2.5em;
    cursor: pointer;
    color: #139bcd;
}

#close {
    display: none;
}

/* ESTILO PARA O MENU MOBILE */
@media (max-width: 768px) {
    .nav_links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%; 
        width: 250px;
        height: 100vh;
        background-color: white;
        box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: center;
        transition: right 0.4s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
    }

    .nav_links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nav_links.open {
        right: 0;
        opacity: 1;
    }

    .nav_links ul li a:hover {
        margin-left: 5px;
    }

    .menu_mobile {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }
}
